extends ../templates/_main.pug
include ../helpers/mixins.pug

block content
	.slick-block.container
		.slider
			.slide 1
			.slide 2
			.slide 3
			.slide 4
			.slide 5
			.slide 6
			.slide 7
			.slide 8
			.slide 9


	include ../modules/_modal
